{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}

    {% if article %}

            <article>
                <h1>{{ article.title }}</h1>
                <p>Unique id: <span class="highlight">{{ article.uuid }}</span></p>
                <p>Created At: <span class="highlight">{{ article.createdAt|date }}</span></p>
                <p>Slug: <span class="highlight">{{ article.slug }}</span></p>
                <p>{{ article.body }}</p>
            </article>
            {% if supported_locales|length > 1 %}
                <hr>
                {% if article.translations | length > 1 %}
                <div>
                    <h2>Available translations in other languages</h2>

                        {% for translation in article.translations %}
                            {% if translation.locale != app.request.locale %}
                                <article>
                                    <h3>{{ translation.title }}</h3>
                                    <p>Locale: <span class="highlight">{{ translation.locale }}</span></p>
                                    <p>Slug: <span class="highlight">{{ translation.slug }}</span></p>
                                    <p>{{ translation.body }}</p>
                                </article>
                            {% endif %}
                        {% endfor %}
                </div>
                {% endif %}
            {% endif %}

    {% endif %}

{% endblock %}
